
header{
  display:grid;
  height: 100vh;
  width:100%;
  background-image: url(https://picsum.photos/id/53/800/200);
}

h1 {
  font-family:'Montserrat', Arial, Helvetica, sans-serif;
  
}

h6 {
  font-family:'Montserrat', Arial, Helvetica, sans-serif;
}

p {
  font-family:'Cabin' , sans-serif
}