 body{
  background-color: var(--background-white);
} 
header {
  display:grid;
  height: 100vh;
  width:100%;
  grid-template-columns:  1fr 2fr 2fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 1fr;
  background: no-repeat center url('../images/webbanner-long.jpg');
  background-size: cover;
  filter:drop-shadow(0px 8px 4px hsl(351, 8%, 60%, 0.2)); 
}

/*prevents text from touching the side*/
main {
  margin:2rem;
  
}
/*main heading , hello I'm*/
.logoh1 {
  grid-column-start: 2;
  grid-row-start: 2;
  justify-self:start;
  align-self:end;

  padding-bottom:0;
  margin-bottom:0;
  /*save for @media
  width:min-content;
  */
}

/*sub heading web ... */
.logoh6 {
  grid-row-start: 3;
  grid-column-start:2;
  justify-self:start;
  align-self:top;
  margin-top: 0.5rem;
}

.cta-button {
width: max-content;
height: min-content;

grid-column-start: 3;
grid-row-start: 2;
align-self:center;
justify-self: center;


padding:1rem;
border-radius: 15em;
border: 0;
max-width:40ch;

background-color: var(--candy-blue);
color: var(--background-white);
}

.cta-button:hover {
  /*idk why this isn't working*/
  background-color: hsl(var(--candy-blue), 48%, 65%);
  color: var(--pumpkin-orange);
}

@media screen and (width < 55rem ) {
  header {
    display: grid;
  }
  h1{
    font-size: 2rem;
  }
  .cta-button {
    grid-column-start:2;
    justify-self:start;
    align-self: start;
    grid-row-start: 3;
    margin-top: 5rem;
  }
}

@media screen and (width < 600px) {
  header{
  display:grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  background: no-repeat center url('../images/webbanner-short.jpg');
  background-size: cover;

  }

  h1{
    font-size:2rem;
    font-weight: 600;
  }

  h6 {
    align-self: start;
  }
  .cta-button{
    width:10rem;
    grid-row-start:3;
  }
}

